In [3]:
import pandas
df = pandas.read_csv('drugaczesc.csv')
df

     MX  CUL        Culiacan
0    DE  KLT  Kaiserslautern
1    CA  YQQ           Comox
2    CA  ZPB    Sachigo Lake
3    RO  BAY       Baia Mare
4    US  LYH       Lynchburg
..   ..  ...             ...
770  GL  JHS        Sisimiut
771  PH  TAC        Tacloban
772  RU  GYG           Magan
773  CN  HSN        Zhoushan
774  IN  ATQ        Amritsar

[775 rows x 3 columns]

In [4]:
#dopisywanie do istniejącego csv
df.to_csv('pierwszaczesc.csv', mode='a', index=False, header=True)

In [5]:
df3 = pandas.read_csv('trzeciaczesc.csv')
df3.to_csv('pierwszaczesc.csv', mode='a', index=False, header=True)

In [6]:
df4 = pandas.read_csv('czwartaczesc.csv')
df4.to_csv('pierwszaczesc.csv', mode='a', index=False, header=True)

In [7]:
wszystkielotniska = pandas.read_csv('pierwszaczesc.csv')

In [9]:
wszystkielotniska.to_csv('wszystkielotniska.csv', mode='w', index=False, header=True)